@import 'variable';
@import 'animation';

.header {
    padding: cal($e: 50) cal($e: 40) 0;
    position: absolute;
    width: 100%;
    height: cal($e: 130);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    z-index: 10;

    .logo_box h1 {
        width: cal($e: 126);
        height: cal($e: 40);

        img {
            @include objectfit;
        }
    }

    .header_alarm {
        font-size: cal($e: 40);
        color: $color_black;
        position: relative;

        &.isAlarm:after {
            content: '';
            display: block;
            position: absolute;
            width: cal($e: 11);
            height: cal($e: 11);
            border-radius: 50%;
            background-color: $color_red;
            top: cal($e: 7);
            left: cal($e: 4);
        }
    }
}

.community_wrapper {
    padding-bottom: cal($e: 150);
    background-color: $color_white;
}

.top_5_box {
    background-color: $color_white;
    padding: cal($e: 130) cal($e: 40) cal($e: 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: $color_black;
        width: 100%;
        height: cal($e: 300);
        z-index: 0;
        bottom: 0;
    }

    .top_5_box_title {
        color: $color_primary;
        font-family: gotham;
        font-weight: bold;
        font-size: cal($e: 30);
        line-height: cal($e: 30);
        letter-spacing: cal($e: -1.8);
        text-align: center;
    }

    .top_5_category_title {
        text-align: center;
        height: cal($e: 85);
        margin-top: cal($e: 45);
        display: flex;
        align-items: center;

        > p {
            margin: 0 auto;
            max-width: cal($e: 400);
            font-weight: 500;
            font-size: cal($e: 30);
            line-height: cal($e: 42);
            letter-spacing: cal($e: -1.8);
            @include multi_ellipsis($line: 2);
        }
    }
    .top_5_swipe {
        margin-top: cal($e: 55);
        width: cal($e: 490);
        position: relative;

        .swiper-slide {
            overflow: visible;

            .top_5_item {
                position: relative;
                height: cal($e: 330);
                border-radius: cal($e: 30);
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow: hidden;

                .category_icon {
                    font-size: cal($e: 54);
                }

                &.poll {
                    background-color: $color_pollcard;
                    padding: cal($e: 15) cal($e: 15) cal($e: 15) 0;
                    border: 2px solid $color_black;

                    .category_icon {
                        min-width: cal($e: 175);
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .category_title {
                            font-weight: 300;
                            margin-top: cal($e: 12);
                            font-size: cal($e: 19);
                            letter-spacing: cal($e: -1.14);
                        }
                    }
                }

                &.vs {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: cal($e: 310);
                        top: cal($e: 10);
                        left: 0;
                        background-color: $color_gray;
                    }

                    [class^='vs_'] {
                        position: relative;
                        width: 50%;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border-radius: cal($e: 30);
                        border: 2px solid $color_black;
                        padding: cal($e: 25) cal($e: 30) cal($e: 30);

                        &.vs_a {
                            background-color: $color_vscarda;
                        }
                        &.vs_b {
                            background-color: $color_vscardb;
                        }

                        &:first-child {
                            margin-right: cal($e: 10);
                        }

                        .card_title {
                            font-family: gotham;
                            font-weight: bold;
                            font-size: cal($e: 50);
                            letter-spacing: cal($e: -3);
                        }

                        .img_box {
                            position: absolute;
                            right: cal($e: 30);
                            bottom: cal($e: 30);
                            width: cal($e: 75);
                            height: cal($e: 75);

                            &.is_image {
                                border: 1px solid $color_black;
                                overflow: hidden;
                                border-radius: 50%;

                                img {
                                    display: block;
                                }
                                .category_icon {
                                    display: none;
                                }
                            }
                            img {
                                display: none;
                                border-radius: 50%;
                                @include objectfit;
                            }
                            .category_icon {
                                display: block;
                                font-size: cal($e: 75);
                                text-align: center;
                            }
                        }

                        .text_box {
                            flex: 1;

                            p {
                                position: relative;
                                text-align: left;
                                font-weight: 500;
                                margin-top: cal($e: 20);
                                font-size: cal($e: 25);
                                line-height: cal($e: 35);
                                letter-spacing: cal($e: -1.5);
                                @include multi_ellipsis($line: 3);
                            }
                        }
                    }

                    .icon_vs {
                        position: absolute;
                        width: cal($e: 66);
                        height: cal($e: 66);
                        background-color: $color_black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: gotham;
                        font-weight: bold;
                        font-size: cal($e: 27);
                        letter-spacing: cal($e: -1.62);
                        color: $color_white;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                &:after {
                    display: block;
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: cal($e: 30);
                }

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &.swiper-slide-active .top_5_item:after {
                display: none;
            }

            &.swiper-slide-prev .top_5_item:after,
            &.swiper-slide-next .top_5_item:after {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        .item_list {
            overflow-y: auto;
            border-radius: cal($e: 30);
            padding: cal($e: 23) cal($e: 25);
            background-color: $color_white;
            position: relative;

            &::-webkit-scrollbar {
                display: none;
            }

            // &:before,
            // &:after {
            //     content: '';
            //     display: block;
            //     position: fixed;
            //     width: calc(100% - #{cal($e: 244)});
            //     right: cal($e: 42);
            //     height: cal($e: 23);
            // }

            // &:before {
            //     top: cal($e: 17);
            //     background: linear-gradient(
            //         rgba(255, 255, 255, 0.75),
            //         transparent
            //     );
            // }

            // &:after {
            //     bottom: cal($e: 17);
            //     background: linear-gradient(
            //         transparent,
            //         rgba(255, 255, 255, 0.75)
            //     );
            // }
        }

        .item_list li {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            height: cal($e: 58);

            &:not(:last-child) {
                margin-bottom: cal($e: 21);
            }

            .item_index {
                width: cal($e: 30);
                height: cal($e: 30);
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color_white;
                background-color: $color_gray;
                border-radius: 50%;
                font-family: gotham;
                font-weight: normal;
                font-size: cal($e: 16);
                letter-spacing: cal($e: -0.96);
                margin-right: cal($e: 10);
            }

            .item_text {
                flex: 1;
                font-weight: 700;
                font-size: cal($e: 25);
                line-height: cal($e: 33);
                letter-spacing: cal($e: -1.5);
                @include multi_ellipsis($line: 2);
            }

            .item_img {
                width: cal($e: 54);
                height: cal($e: 54);
                margin-left: cal($e: 16);
                overflow: hidden;
                border-radius: 50%;
                border: 2px solid $color_black;

                img {
                    @include objectfit;
                }
            }
        }
    }

    .top_5_detail {
        margin-top: cal($e: 60);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;

        > *:not(:last-child) {
            margin-right: cal($e: 16);
        }

        .count_vote,
        .count_reply {
            display: flex;
            align-items: center;

            span {
                color: $color_white;
                font-weight: 700;
                font-size: cal($e: 18);
                letter-spacing: cal($e: -0.36);

                &[class^='ivoryIcon-'] {
                    font-weight: normal;
                    color: $color_secondary;
                    margin-right: cal($e: 5);
                    font-size: cal($e: 30);
                }
            }
        }

        .vote_ready_btn_box {
            background-color: $color_primary;
            border-color: $color_primary;
            color: $color_white;
        }
        .vote_complete_btn_box {
            border-color: $color_white;
            color: $color_white;
        }
    }

    .swiper-pagination {
        position: relative;
        bottom: 0 !important;
        font-size: 0;
        margin-top: cal($e: 50);

        .swiper-pagination-bullet {
            width: cal($e: 9);
            height: cal($e: 9);
            background-color: $color_lightgray;
            opacity: 1;

            &:not(:last-child) {
                margin-right: cal($e: 35);
            }

            &-active {
                background-color: $color_primary;
            }
        }
    }
}

.category_box {
    padding: cal($e: 50) 0;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        width: cal($e: 125);
        height: cal($e: 125);
        margin-right: cal($e: 20);

        &:nth-child(4n) {
            margin-right: 0;
        }

        button {
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            z-index: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: cal($e: 30);
            background-color: transparent;
            box-shadow: 0 0 5px transparent, 0 0 5px inset transparent;
            transition: box-shadow 0.3s;
            -webkit-perspective: 1000;
            -webkit-backface-visibility: hidden;

            span {
                margin-top: cal($e: 12.5);
                display: block;
                font-weight: 300;
                font-size: cal($e: 19);
                letter-spacing: cal($e: -1.14);
                color: $color_black;
                transition: font-weight 0.3s, color 0.3s;

                &[class^='ivoryIcon-'] {
                    font-weight: normal;
                    font-size: cal($e: 50);
                    color: $color_primary;
                    transition: color 0.3s;
                }
            }
        }

        &.active {
            button {
                box-shadow: 0 0 5px transparent, 0 0 5px inset transparent;
                background-color: $color_primary;
                transition: box-shadow 0.3s;

                span {
                    font-weight: 700;
                    color: $color_white;
                    transition: font-weight 0.3s, color 0.3s;

                    &[class^='ivoryIcon-'] {
                        font-weight: normal;
                        color: $color_white;
                        transition: color 0.3s;
                    }
                }
            }
        }

        &.clicking {
            button {
                box-shadow: 0 0 5px $color_secondary,
                    0 0 5px inset $color_secondary;
                background-color: $color_primary;
                transition: box-shadow 0.3s;
            }
        }
    }
}

.vote_list_box {
    padding: cal($e: 70) cal($e: 40);

    .filter_vote_type {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: cal($e: 20);
        padding-bottom: cal($e: 20);
        border-bottom: 1px solid $color_darkgray;

        .button {
            font-size: cal($e: 22);
            letter-spacing: cal($e: -1.32);
            width: cal($e: 130);
            height: cal($e: 50);
            padding: 0;

            &:not(:last-child) {
                margin-right: cal($e: 10);
            }

            &.btn_votefilter_all {
                font-weight: 700;
            }

            &.fill {
                background-color: $color_black;
                color: $color_white;
            }
            &.outline {
                border-color: $color_black;
                color: $color_black;
            }
        }
    }

    .filter_status_type {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .button {
            font-weight: 500;
            font-size: cal($e: 22);
            letter-spacing: cal($e: -1.32);
            width: cal($e: 130);
            height: cal($e: 50);
            padding: 0;

            &:not(:last-child) {
                margin-right: cal($e: 10);
            }

            &.fill {
                background-color: $color_primary;
                color: $color_white;
            }
            &.outline {
                border-color: $color_primary;
                color: $color_primary;
            }

            &.btn_call_filter {
                position: absolute;
                width: auto;
                top: 0;
                right: 0;
                padding: 0 cal($e: 15);
                background-color: $color_secondary;
                color: $color_white;

                [class^='ivoryIcon-'] {
                    margin-left: 0;
                    margin-right: cal($e: 7);
                }
            }
        }
    }

    .vote_list {
        margin-top: cal($e: 40);
        padding-right: cal($e: 35);

        li {
            position: relative;
            display: flex;
            height: cal($e: 180);
            padding: cal($e: 30);
            padding-right: cal($e: 54);
            border-radius: cal($e: 30);
            background-color: $color_transparentprimary;

            &:not(:last-child) {
                margin-bottom: cal($e: 30);
            }

            &.type_vs .type_box .poll,
            &.type_poll .type_box .vs,
            &.status_ready .btn_box .btn_complete,
            &.status_complete .btn_box .btn_ready {
                display: none;
            }

            &.isClose {
                background-color: $color_whitegray;

                .type_box {
                    [class^='ivoryIcon-'] {
                        color: $color_gray;
                    }
                    .type {
                        background-color: $color_gray;
                    }
                    .remaining_date {
                        color: $color_gray;
                    }
                }
                .content_box {
                    color: $color_gray;
                }
            }

            &.isAdult {
                background-color: $color_transparentsecondary;

                .type_box {
                    [class^='ivoryIcon-'] {
                        color: $color_secondary;
                    }
                }

                &.isClose {
                    background-color: $color_disablesecondary;
                }
            }

            &.vote_dummy {
                background-color: rgba(0, 0, 0, 0.1);

                .dummy_item {
                    background-color: $color_whitegray;
                }
                .type_box {
                    div:nth-child(1) {
                        width: cal($e: 50);
                        height: cal($e: 50);
                        border-radius: 50%;
                    }
                    div:nth-child(2),
                    div:nth-child(3) {
                        width: cal($e: 70);
                        height: cal($e: 23);
                        border-radius: cal($e: 30);
                    }
                }
                .content_box {
                    .text div:nth-child(1),
                    .text div:nth-child(2) {
                        width: cal($e: 330);
                        height: cal($e: 23);
                        border-radius: cal($e: 30);
                    }
                    .text div:nth-child(2) {
                        margin-top: cal($e: 15);
                    }
                    .count_box .dummy_item {
                        width: cal($e: 60);
                        height: cal($e: 23);
                        border-radius: cal($e: 30);
                    }
                }
                .btn_box .dummy_item {
                    width: cal($e: 74);
                    height: cal($e: 74);
                    border-radius: 50%;
                }
            }
        }

        .type_box {
            min-width: cal($e: 85);
            margin-right: cal($e: 25);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            [class^='ivoryIcon-'] {
                font-size: cal($e: 50);
                color: $color_primary;
            }

            .type {
                border-radius: cal($e: 30);
                padding: cal($e: 3) cal($e: 9);
                color: $color_white;
                font-family: gotham;
                font-weight: bold;
                font-size: cal($e: 20);
                letter-spacing: cal($e: -0.4);

                &.vs {
                    background-color: $color_pink;
                }
                &.poll {
                    background-color: $color_blue;
                }
            }

            .remaining_date {
                font-weight: 700;
                font-size: cal($e: 20);
                letter-spacing: cal($e: -0.4);
                white-space: nowrap;
            }
        }

        .content_box {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .text {
                font-weight: 700;
                font-size: cal($e: 22);
                line-height: cal($e: 33);
                letter-spacing: cal($e: -1.32);
                @include multi_ellipsis($line: 2);
            }

            .count_box {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                .count_vote {
                    margin-right: cal($e: 19.5);
                }

                .count_vote,
                .count_reply {
                    display: flex;
                    align-items: center;

                    span {
                        color: inherit;
                        font-weight: 700;
                        font-size: cal($e: 18);
                        letter-spacing: cal($e: -0.36);

                        &[class^='ivoryIcon-'] {
                            font-weight: normal;
                            color: inherit;
                            margin-right: cal($e: 5);
                            font-size: cal($e: 30);
                        }
                    }
                }
            }
        }

        .btn_box {
            position: absolute;
            right: cal($e: -35);
            top: 50%;
            transform-origin: center;
            transform: translateY(-50%);

            button {
                width: cal($e: 74);
                height: cal($e: 74);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: $color_white;

                &.btn_ready {
                    background-color: $color_primary;
                    font-size: cal($e: 24);
                    span {
                        margin-left: cal($e: 5);
                    }
                }
                &.btn_complete {
                    background-color: $color_black;
                    font-size: cal($e: 30);
                }
            }
        }
    }
}

// .btn_add_vote {
//     position: fixed;
//     z-index: 9999;
//     width: cal($e: 150);
//     height: cal($e: 150);
//     border-radius: 50%;
//     right: cal($e: 40);
//     bottom: cal($e: 40);
//     color: $color_white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: cal($e: 70);
//     background: linear-gradient(to bottom, $color_lightprimary, $color_primary);
//     box-shadow: 0 cal($e: 8) cal($e: 15) rgba(0, 0, 0, 0.25);

//     &.clicking {
//         animation: add_btn_scale 0.3s;

//         span {
//             animation: add_btn_rotate 0.3s;
//         }
//     }
// }

@media (min-width: $media_base) {
    .header {
        padding: 50px 40px 0;
        height: 130px;

        .logo_box h1 {
            width: 126px;
            height: 40px;
        }

        .header_alarm {
            font-size: 40px;

            &.isAlarm:after {
                width: 11px;
                height: 11px;
                top: 7px;
                left: 4px;
            }
        }
    }

    .community_wrapper {
        padding-bottom: 150px;
    }

    .top_5_box {
        padding: 130px 40px 45px;

        &:before {
            height: 300px;
        }

        .top_5_box_title {
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -1.8px;
        }

        .top_5_category_title {
            margin-top: 55px;
            height: 85px;

            > p {
                max-width: 400px;
                font-size: 30px;
                line-height: 42px;
                letter-spacing: -1.8px;
            }
        }
        .top_5_swipe {
            margin-top: 45px;
            width: 490px;

            .swiper-slide {
                .top_5_item {
                    height: 330px;
                    border-radius: 30px;

                    .category_icon {
                        font-size: 54px;
                    }

                    &.poll {
                        padding: 15px 15px 15px 0;

                        .category_icon {
                            min-width: 175px;

                            .category_title {
                                margin-top: 12px;
                                font-size: 19px;
                                letter-spacing: -1.14px;
                            }
                        }
                    }

                    &.vs {
                        &:before {
                            height: 310px;
                            top: 10px;
                        }
                        [class^='vs_'] {
                            border-radius: 30px;
                            padding: 25px 30px 30px;

                            &.isImage {
                                .text_box {
                                    padding: 43px 33px;
                                }
                            }

                            &:first-child {
                                margin-right: 10px;
                            }

                            .card_title {
                                font-size: 50px;
                                letter-spacing: -3px;
                            }

                            .img_box {
                                right: 30px;
                                bottom: 30px;
                                width: 75px;
                                height: 75px;

                                .category_icon {
                                    font-size: 75px;
                                }
                            }

                            .text_box {
                                flex: 1;

                                p {
                                    margin-top: 20px;
                                    font-size: 25px;
                                    line-height: 35px;
                                    letter-spacing: -1.5px;
                                }
                            }
                        }

                        .icon_vs {
                            width: 66px;
                            height: 66px;
                            font-size: 27px;
                            letter-spacing: -1.62;
                        }
                    }

                    &:after {
                        border-radius: 30px;
                    }
                }
            }

            .item_list {
                border-radius: 30px;
                padding: 23px 25px;

                // &:before,
                // &:after {
                //     width: calc(100% - 244px);
                //     right: 42px;
                //     height: 23px;
                // }

                // &:before {
                //     top: 17px;
                // }

                // &:after {
                //     bottom: 17px;
                // }
            }

            .item_list li {
                height: 58px;

                &:not(:last-child) {
                    margin-bottom: 21px;
                }

                .item_index {
                    width: 30px;
                    height: 30px;
                    font-size: 16px;
                    letter-spacing: -0.96px;
                    margin-right: 10px;
                }

                .item_text {
                    font-size: 25px;
                    line-height: 33px;
                    letter-spacing: -1.5px;
                }

                .item_img {
                    width: 54px;
                    height: 54px;
                    margin-left: 16px;
                }
            }
        }

        .top_5_detail {
            margin-top: 60px;

            > *:not(:last-child) {
                margin-right: 16px;
            }

            .count_vote,
            .count_reply {
                span {
                    font-size: 18px;
                    letter-spacing: -0.36px;

                    &[class^='ivoryIcon-'] {
                        margin-right: 5px;
                        font-size: 30px;
                    }
                }
            }
        }

        .swiper-pagination {
            margin-top: 50px;

            .swiper-pagination-bullet {
                width: 9px;
                height: 9px;

                &:not(:last-child) {
                    margin-right: 35px;
                }
            }
        }
    }

    .category_box {
        padding: 50px 0;

        li {
            width: 125px;
            height: 125px;
            margin-right: 20px;

            button {
                border-radius: 30px;

                span {
                    margin-top: 12.5px;
                    font-size: 19px;
                    letter-spacing: -1.14px;

                    &[class^='ivoryIcon-'] {
                        font-size: 50px;
                    }
                }
            }
        }
    }

    .vote_list_box {
        padding: 70px 40px;

        .filter_vote_type {
            margin-bottom: 20px;
            padding-bottom: 20px;

            .button {
                font-size: 22px;
                letter-spacing: -1.32px;
                width: 130px;
                height: 50px;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        .filter_status_type {
            .button {
                font-size: 22px;
                letter-spacing: -1.32px;
                width: 130px;
                height: 50px;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &.btn_call_filter {
                    padding: 0 15px;

                    [class^='ivoryIcon-'] {
                        margin-right: 7px;
                    }
                }
            }
        }

        .vote_list {
            margin-top: 40px;
            padding-right: 35px;

            li {
                height: 180px;
                padding: 30px;
                padding-right: 54px;
                border-radius: 30px;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }

                &.vote_dummy {
                    background-color: rgba(0, 0, 0, 0.1);

                    .dummy_item {
                        background-color: $color_whitegray;
                    }
                    .type_box {
                        div:nth-child(1) {
                            width: 50px;
                            height: 50px;
                        }
                        div:nth-child(2),
                        div:nth-child(3) {
                            width: 70px;
                            height: 23px;
                            border-radius: 30px;
                        }
                    }
                    .content_box {
                        .text div:nth-child(1),
                        .text div:nth-child(2) {
                            width: 330px;
                            height: 23px;
                            border-radius: 30px;
                        }
                        .text div:nth-child(2) {
                            margin-top: 15px;
                        }
                        .count_box .dummy_item {
                            width: 60px;
                            height: 23px;
                            border-radius: 30px;
                        }
                    }
                    .btn_box .dummy_item {
                        width: 74px;
                        height: 74px;
                    }
                }
            }

            .type_box {
                min-width: 85px;
                margin-right: 25px;

                [class^='ivoryIcon-'] {
                    font-size: 50px;
                }

                .type {
                    border-radius: 30px;
                    padding: 3px 9px;
                    font-size: 20px;
                    letter-spacing: -0.4px;
                }

                .remaining_date {
                    font-size: 20px;
                    letter-spacing: -0.4px;
                }
            }

            .content_box {
                .text {
                    font-size: 22px;
                    line-height: 33px;
                    letter-spacing: -1.32px;
                }

                .count_box {
                    .count_vote {
                        margin-right: 19.5px;
                    }

                    .count_vote,
                    .count_reply {
                        span {
                            font-size: 18px;
                            letter-spacing: -0.36px;

                            &[class^='ivoryIcon-'] {
                                margin-right: 5px;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }

            .btn_box {
                right: -35px;

                button {
                    width: 74px;
                    height: 74px;

                    &.btn_ready {
                        font-size: 24px;
                        span {
                            margin-left: 5px;
                        }
                    }
                    &.btn_complete {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    // .btn_add_vote {
    //     width: 150px;
    //     height: 150px;
    //     right: 40px;
    //     bottom: 40px;
    //     font-size: 70px;
    //     box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
    // }
}
