@import 'variable';
@import 'animation';

.detail_header {
    position: fixed;
    top: 0;
    left: 50%;
    width: cal($e: 640);
    z-index: 10;
    transform: translateX(-50%);

    .btn_area {
        height: cal($e: 135);
        background-color: $color_white;
        padding: 0 cal($e: 40);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .close_popup span {
            font-size: cal($e: 28);
        }

        .btn_group {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            button:not(:last-child) {
                margin-right: cal($e: 30);
            }

            .btn_heart {
                .ivoryIcon-heart_outline {
                    display: block;
                }
                .ivoryIcon-heart {
                    display: none;
                }
                &.clicked {
                    .ivoryIcon-heart_outline {
                        display: none;
                    }
                    .ivoryIcon-heart {
                        display: block;
                        color: $color_red;
                    }
                }
            }

            [class^='ivoryIcon-'] {
                font-size: cal($e: 40);
            }
        }
    }
}

.dummy_container {
    position: fixed;
    height: 100vh;
    max-width: $media_base;
    width: 100%;
    z-index: 10;
    background-color: $color_white;

    .dummy {
        &_title {
            margin: 0 cal($e: 40);
            width: cal($e: 200);
            height: cal($e: 35);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
            margin-bottom: cal($e: 25);
        }
        &_title_content {
            margin: 0 cal($e: 40);
            height: cal($e: 30);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
            &:not(:last-child) {
                margin-bottom: cal($e: 15);
            }
        }
        &_icon_wrapper {
            margin: 0 cal($e: 40);
            margin-top: cal($e: 75);
            margin-bottom: cal($e: 60);
            padding-bottom: cal($e: 30);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &_icon_box {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        &_icon {
            width: cal($e: 80);
            height: cal($e: 40);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
            &:not(:last-child) {
                margin-right: cal($e: 25);
            }
        }
        &_date {
            width: cal($e: 120);
            height: cal($e: 40);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
        }
        &_swipe {
            padding: 0 0 0 cal($e: 40);
            margin-bottom: cal($e: 50);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: hidden;
        }
        &_swipe_item {
            min-width: cal($e: 351);
            height: cal($e: 351);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
            &:not(:last-child) {
                margin-right: cal($e: 25);
            }
        }
        &_content_text {
            margin: 0 cal($e: 40);
            height: cal($e: 20);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
            &:not(:last-child) {
                margin-bottom: cal($e: 13);
            }
        }
        &_last_box {
            margin: 0 cal($e: 40);
            height: 100vh;
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.detail_wrapper {
    background-color: $color_white;

    .content_box {
        margin-top: cal($e: 135);
        overflow: auto;

        .vote_content {
            margin-top: 0;

            .category_type {
                padding: 0 cal($e: 40);
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;

                span {
                    color: $color_primary;
                    font-weight: 700;
                    font-size: cal($e: 22);
                    letter-spacing: cal($e: -1.32);

                    &[class^='ivoryIcon-'] {
                        font-weight: normal;
                        font-size: cal($e: 31);
                        margin-right: cal($e: 10);
                    }
                }
            }

            .category_title {
                padding: 0 cal($e: 40);
                margin-top: cal($e: 25);

                .title {
                    font-weight: 700;
                    font-size: cal($e: 30);
                    line-height: cal($e: 45);
                    letter-spacing: cal($e: -1.8);
                }
            }

            .regist_date {
                padding: 0 cal($e: 40);
                margin-top: cal($e: 25);
                display: flex;
                align-items: center;

                span {
                    font-weight: 700;
                    font-size: cal($e: 22);
                    letter-spacing: cal($e: -0.44);

                    &[class^='ivoryIcon-'] {
                        font-weight: normal;
                        font-size: cal($e: 23);
                        color: $color_red;
                        margin-left: cal($e: 5);
                        margin-top: cal($e: -4);
                    }
                }
            }

            .count_box {
                margin: cal($e: 25) cal($e: 40) 0;
                padding-bottom: cal($e: 30);
                border-bottom: 0.5px solid $color_black;
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;

                .count_left {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: center;

                    > div[class^='count_'] {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;

                        &:not(:last-child) {
                            margin-right: cal($e: 25);
                        }

                        span {
                            font-weight: 700;
                            font-size: cal($e: 18);
                            letter-spacing: cal($e: -0.36);

                            &[class^='ivoryIcon-'] {
                                font-weight: normal;
                                margin-right: cal($e: 5);
                            }
                        }
                    }

                    .count {
                        &_vote {
                            [class^='ivoryIcon-'] {
                                color: $color_secondary;
                                font-size: cal($e: 30);
                            }
                        }
                        &_view {
                            [class^='ivoryIcon-'] {
                                color: $color_primary;
                                font-size: cal($e: 35);
                            }
                        }
                        &_heart {
                            [class^='ivoryIcon-'] {
                                color: $color_red;
                                font-size: cal($e: 30);
                            }
                        }
                    }
                }

                .count_right {
                    height: cal($e: 40);
                    border: 0.5px solid $color_black;
                    font-size: cal($e: 20);
                    letter-spacing: cal($e: -1.2);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: cal($e: 30);
                    padding: 0 cal($e: 16);

                    &.end {
                        color: $color_white;
                        border: 0;
                        background-color: $color_red;
                    }
                }
            }

            .vote_img_swipe {
                margin-top: cal($e: 60);
                height: cal($e: 351);

                .swiper {
                    padding-left: cal($e: 40);
                }

                .swiper-slide {
                    width: cal($e: 351);
                    height: cal($e: 351);
                    position: relative;
                    border-radius: cal($e: 30);
                    overflow: hidden;

                    img {
                        @include objectfit;
                    }
                }
            }

            .vote_text_box {
                margin-top: cal($e: 50);
                padding: 0 cal($e: 40);
                font-weight: 300;
                font-size: cal($e: 20);
                line-height: cal($e: 33);
                letter-spacing: cal($e: -1.2);
            }
        }

        .vote_communication {
            padding: cal($e: 60) cal($e: 40) cal($e: 60);

            .vote_wrapper {
                padding: cal($e: 50) cal($e: 35) cal($e: 25);
                border-radius: cal($e: 30);
                border: 0.5px solid $color_black;

                .poll_wrapper {
                    margin-bottom: cal($e: 15);

                    .vote_type .type_box {
                        background-color: $color_blue;
                    }
                }

                .vs_wrapper {
                    position: relative;
                    margin-bottom: cal($e: 25);

                    .vote_type .type_box {
                        background-color: $color_pink;
                    }

                    .input_write_reason {
                        position: absolute;
                        width: cal($e: 490);
                    }

                    .voted_reason {
                        .icon {
                            white-space: nowrap;
                            min-width: 0;
                        }
                    }
                }
            }

            .vote_type {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;

                .type_box {
                    width: cal($e: 160);
                    height: cal($e: 60);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: cal($e: 30);
                    color: $color_white;
                    font-family: gotham;
                    font-weight: bold;
                    font-size: cal($e: 27);
                    letter-spacing: cal($e: -0.54);
                }

                .type_text {
                    font-weight: 500;
                    font-size: cal($e: 22);
                    letter-spacing: cal($e: -1.32);

                    &.strong {
                        display: inline-block;
                        font-family: gotham;
                        font-weight: bold;
                        font-size: cal($e: 25);
                        letter-spacing: cal($e: -0.5);
                        color: $color_blue;
                        margin-top: cal($e: -3);
                        margin-left: cal($e: 12);
                    }
                }
            }

            .vote_poll_list {
                margin-top: cal($e: 30);

                .vote_select_item {
                    margin-bottom: cal($e: 10);

                    &.is_image .fake_checker .img {
                        display: block;
                    }

                    .voted_reason {
                        display: none;
                    }
                    .input_write_reason {
                        display: block;
                    }
                    &.is_voted {
                        .voted_reason {
                            display: flex;
                        }
                        .input_write_reason {
                            display: none;
                        }
                    }
                }

                .poll_checker {
                    display: none;

                    &:checked {
                        ~ .fake_checker {
                            background-color: $color_blue;
                            color: $color_white;
                            transition: background-color 0.3s, color 0.3s;

                            .index {
                                background-color: $color_white;
                                color: $color_blue;
                                transition: background-color 0.3s, color 0.3s;
                            }
                        }
                    }
                }

                .fake_checker {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: cal($e: 10) cal($e: 10) cal($e: 10) cal($e: 25);
                    border-radius: cal($e: 30);
                    border: 0.5px solid #8e8e8e;
                    background-color: $color_white;
                    color: $color_black;
                    transition: background-color 0.3s, color 0.3s;

                    .index {
                        min-width: cal($e: 30);
                        height: cal($e: 30);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $color_black;
                        color: $color_white;
                        font-family: gotham;
                        font-size: cal($e: 16);
                        letter-spacing: cal($e: -0.96);
                        border-radius: 50%;
                        transition: background-color 0.3s, color 0.3s;
                    }

                    .text {
                        flex: 1;
                        margin-left: cal($e: 15);
                        font-weight: 500;
                        padding: cal($e: 12) 0;
                        font-size: cal($e: 25);
                        line-height: cal($e: 37);
                        letter-spacing: cal($e: -1.5);
                        color: inherit;
                    }

                    .img {
                        display: none;
                        width: cal($e: 120);
                        height: cal($e: 120);
                        border-radius: cal($e: 30);
                        margin-left: cal($e: 10);
                        overflow: hidden;

                        img {
                            @include objectfit;
                        }
                    }
                }
            }

            .vote_vs_card {
                margin-top: cal($e: 30);
                position: relative;
                border-radius: cal($e: 30);
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow: hidden;

                [class^='vs_'] {
                    position: relative;
                    width: 50%;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .vs_radio {
                        display: none;

                        &:checked {
                            ~ .fake_radio {
                                border: 0;
                                background-color: $color_pink;
                                color: $color_white;
                                transition: background-color 0.3s;
                            }
                        }
                    }

                    .fake_radio {
                        position: relative;
                        padding: cal($e: 25) cal($e: 30) cal($e: 30);
                        height: 100%;
                        height: cal($e: 330);
                        border-radius: cal($e: 30);
                        border: 2px solid $color_black;
                    }

                    &.vs_a .fake_radio {
                        background-color: $color_vscarda;
                        transition: background-color 0.3s;
                    }
                    &.vs_b .fake_radio {
                        background-color: $color_vscardb;
                        transition: background-color 0.3s;
                    }

                    &.is_image {
                        .img_box {
                            border: 1px solid $color_black;
                            border-radius: 50%;
                            overflow: hidden;

                            img {
                                display: block;
                            }
                            .category_icon {
                                display: none;
                            }
                        }
                    }

                    &.is_voted .btn_voted_reason {
                        display: flex;
                    }

                    &:first-child {
                        margin-right: cal($e: 10);
                    }

                    .card_title {
                        font-family: gotham;
                        font-weight: bold;
                        font-size: cal($e: 50);
                        letter-spacing: cal($e: -3);
                    }

                    .img_box {
                        position: absolute;
                        right: cal($e: 30);
                        bottom: cal($e: 30);
                        width: cal($e: 75);
                        height: cal($e: 75);

                        img {
                            display: none;
                            @include objectfit;
                        }
                        .category_icon {
                            display: block;
                            font-size: cal($e: 75);
                            text-align: center;
                        }
                    }

                    .text_box {
                        flex: 1;

                        p {
                            position: relative;
                            text-align: left;
                            font-weight: 500;
                            margin-top: cal($e: 20);
                            font-size: cal($e: 25);
                            line-height: cal($e: 35);
                            letter-spacing: cal($e: -1.5);
                            @include multi_ellipsis($line: 3);
                        }
                    }
                }

                .icon_vs {
                    position: absolute;
                    width: cal($e: 66);
                    height: cal($e: 66);
                    background-color: $color_black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: gotham;
                    font-weight: bold;
                    font-size: cal($e: 27);
                    letter-spacing: cal($e: -1.62);
                    color: $color_white;
                    border-radius: 50%;
                    top: cal($e: 132);
                    left: 50%;
                    transform: translateX(-50%);
                }

                .arrow_box {
                    position: absolute;
                    width: cal($e: 30);
                    height: cal($e: 30);
                    left: cal($e: 229);
                    top: cal($e: 265);
                    overflow: hidden;
                    animation: vs_arrow 0.3s forwards;

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: cal($e: 10);
                        background-color: $color_lightblack;
                        transform-origin: center;
                        transform: rotate(45deg);
                    }

                    &.a {
                        left: cal($e: 100);
                    }

                    &.b {
                        left: cal($e: 358);
                    }
                }

                .btn_voted_reason {
                    width: cal($e: 174);
                    height: cal($e: 40);
                    display: none;
                    justify-content: center;
                    align-items: center;
                    border: 0.5px solid $color_black;
                    border-radius: cal($e: 30);
                    margin: cal($e: 15) auto 0;

                    span {
                        font-weight: 500;
                        font-size: cal($e: 18);
                        letter-spacing: cal($e: -1.08);

                        &[class^='ivoryIcon-'] {
                            font-size: cal($e: 15);
                            margin-left: cal($e: 6);
                        }
                    }
                }
            }

            .voted_reason {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                height: 0;
                margin-top: 0;
                overflow: hidden;
                transition: height 0.3s, margin 0.3s;

                .icon {
                    min-width: cal($e: 110);
                    text-align: right;
                    font-size: cal($e: 18);
                    line-height: cal($e: 38);
                    letter-spacing: cal($e: -2);
                    margin-right: cal($e: 14);
                }

                .text_box {
                    .text {
                        font-weight: 300;
                        font-size: cal($e: 20);
                        line-height: cal($e: 35);
                        letter-spacing: cal($e: -1.2);
                    }

                    .btn_group {
                        margin-top: cal($e: 27);

                        button {
                            font-weight: 700;
                            font-size: cal($e: 20);
                            letter-spacing: cal($e: -1.2);

                            &:first-child {
                                margin-right: cal($e: 18);
                            }
                        }
                    }
                }
            }

            .input_write_reason {
                // margin-top: cal($e: 30);
                height: 0;
                left: 0;
                top: cal($e: 360);
                z-index: 2;
                overflow: hidden;
                background-color: $color_lightblack;
                border-radius: cal($e: 30);
                color: $color_white;
                margin-top: 0;
                transition: height 0.3s, margin 0.3s;

                .box_header {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    margin: cal($e: 25) cal($e: 25) 0;
                    font-weight: 500;
                    font-size: cal($e: 20);
                    letter-spacing: cal($e: -1.2);

                    button {
                        font-weight: inherit;
                        font-size: inherit;
                        letter-spacing: inherit;
                        color: inherit;
                    }
                }

                .text_input_box {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin: cal($e: 15) cal($e: 25) cal($e: 30);

                    textarea {
                        flex: 1;
                        height: cal($e: 70);
                        padding: cal($e: 16.5) cal($e: 30);
                        border-radius: cal($e: 30);
                        font-weight: 500;
                        font-size: cal($e: 23);
                        line-height: cal($e: 37);
                        letter-spacing: cal($e: -1.38);

                        &::placeholder {
                            font-size: inherit;
                            letter-spacing: inherit;
                            color: $color_lightgray;
                        }
                    }

                    .btn_return_reason_text {
                        width: cal($e: 70);
                        height: cal($e: 70);
                        margin-left: cal($e: 10);
                        font-weight: 500;
                        font-size: cal($e: 20);
                        letter-spacing: cal($e: -1.2);
                        border-radius: cal($e: 30);
                        background-color: $color_primary;
                        color: inherit;
                    }
                }
            }

            .btn_vote {
                position: relative;
                width: 100%;
                height: cal($e: 80);
                margin-top: cal($e: 60);
                padding: 0;
                background-color: $color_primary;
                color: $color_white;

                [disabled] {
                    background-color: $color_gray;
                }

                span {
                    font-size: cal($e: 30);
                    letter-spacing: cal($e: -1.8);
                }

                [class^='ivoryIcon-'] {
                    position: absolute;
                    font-size: cal($e: 29);
                    top: 50%;
                    right: cal($e: 32);
                    transform: translateY(-50%);
                }
            }
        }
    }
}

@media (min-width: $media_base) {
    .detail_header {
        width: 640px;

        .btn_area {
            height: 135px;
            padding: 0 40px;

            .close_popup span {
                font-size: 28px;
            }

            .btn_group {
                button:not(:last-child) {
                    margin-right: 30px;
                }

                [class^='ivoryIcon-'] {
                    font-size: 40px;
                }
            }
        }
    }

    .dummy_container {
        .dummy {
            &_title {
                margin: 0 40px;
                width: 200px;
                height: 35px;
                border-radius: 30px;
                margin-bottom: 25px;
            }
            &_title_content {
                margin: 0 40px;
                height: 30px;
                border-radius: 30px;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
            &_icon_wrapper {
                margin: 0 40px;
                margin-top: 75px;
                margin-bottom: 60px;
                padding-bottom: 30px;
            }
            &_icon {
                width: 80px;
                height: 40px;
                border-radius: 30px;
                &:not(:last-child) {
                    margin-right: 25px;
                }
            }
            &_date {
                width: 120px;
                height: 40px;
                border-radius: 30px;
            }
            &_swipe {
                padding: 0 0 0 40px;
                margin-bottom: 50px;
            }
            &_swipe_item {
                min-width: 351px;
                height: 351px;
                border-radius: 30px;
                &:not(:last-child) {
                    margin-right: 25px;
                }
            }
            &_content_text {
                margin: 0 40px;
                height: 20px;
                border-radius: 30px;
                &:not(:last-child) {
                    margin-bottom: 13px;
                }
            }
            &_last_box {
                margin: 0 40px;
                border-radius: 30px;
            }
        }
    }

    .detail_wrapper {
        .content_box {
            margin-top: 135px;

            .vote_content {
                .category_type {
                    padding: 0 40px;

                    span {
                        font-size: 22px;
                        letter-spacing: -1.32px;

                        &[class^='ivoryIcon-'] {
                            font-size: 31px;
                            margin-right: 10px;
                        }
                    }
                }

                .category_title {
                    padding: 0 40px;
                    margin-top: 25px;

                    .title {
                        font-size: 30px;
                        line-height: 45px;
                        letter-spacing: -1.8px;
                    }
                }

                .regist_date {
                    padding: 0 40px;
                    margin-top: 25px;

                    span {
                        font-size: 22px;
                        letter-spacing: -0.44px;

                        &[class^='ivoryIcon-'] {
                            font-size: 23px;
                            margin-left: 5px;
                            margin-top: -4px;
                        }
                    }
                }

                .count_box {
                    margin: 25px 40px 0;
                    padding-bottom: 30px;

                    .count_left {
                        > div[class^='count_'] {
                            &:not(:last-child) {
                                margin-right: 25px;
                            }

                            span {
                                font-size: 18px;
                                letter-spacing: -0.36px;

                                &[class^='ivoryIcon-'] {
                                    margin-right: 5px;
                                }
                            }
                        }

                        .count {
                            &_vote {
                                [class^='ivoryIcon-'] {
                                    font-size: 30px;
                                }
                            }
                            &_view {
                                [class^='ivoryIcon-'] {
                                    font-size: 35px;
                                }
                            }
                            &_heart {
                                [class^='ivoryIcon-'] {
                                    font-size: 30px;
                                }
                            }
                        }
                    }

                    .count_right {
                        height: 40px;
                        font-size: 20px;
                        letter-spacing: -1.2px;
                        border-radius: 30px;
                        padding: 0 16px;
                    }
                }

                .vote_img_swipe {
                    margin-top: 60px;
                    height: 351px;

                    .swiper {
                        padding-left: 40px;
                    }

                    .swiper-slide {
                        width: 351px;
                        height: 351px;
                        border-radius: 30px;
                    }
                }

                .vote_text_box {
                    margin-top: 50px;
                    padding: 0 40px;
                    font-size: 20px;
                    line-height: 33px;
                    letter-spacing: -1.2px;
                }
            }

            .vote_communication {
                padding: 60px 40px 60px;

                .vote_wrapper {
                    padding: 50px 35px 25px;
                    border-radius: 30px;

                    .poll_wrapper {
                        margin-bottom: 15px;
                    }

                    .vs_wrapper {
                        margin-bottom: 25px;

                        .input_write_reason {
                            width: 490px;
                        }
                    }
                }

                .vote_type {
                    .type_box {
                        width: 160px;
                        height: 60px;
                        border-radius: 30px;
                        font-size: 27px;
                        letter-spacing: -0.54px;
                    }

                    .type_text {
                        font-size: 22px;
                        letter-spacing: -1.32px;

                        &.strong {
                            font-size: 25px;
                            letter-spacing: -0.5px;
                            margin-top: -3px;
                            margin-left: 12px;
                        }
                    }
                }

                .vote_poll_list {
                    margin-top: 30px;

                    .vote_select_item {
                        margin-bottom: 10px;
                    }

                    .fake_checker {
                        padding: 10px 10px 10px 25px;
                        border-radius: 30px;
                        .index {
                            min-width: 30px;
                            height: 30px;
                            font-size: 16px;
                            letter-spacing: -0.96px;
                        }

                        .text {
                            margin-left: 15px;
                            padding: 12px 0;
                            font-size: 25px;
                            line-height: 37px;
                            letter-spacing: -1.5px;
                        }

                        .img {
                            width: 120px;
                            height: 120px;
                            border-radius: 30px;
                            margin-left: 10px;
                        }
                    }
                }

                .vote_vs_card {
                    margin-top: 30px;
                    border-radius: 30px;

                    [class^='vs_'] {
                        .fake_radio {
                            padding: 25px 30px 30px;
                            height: 330px;
                            border-radius: 30px;
                        }

                        &:first-child {
                            margin-right: 10px;
                        }

                        .card_title {
                            font-size: 50px;
                            letter-spacing: -3px;
                        }

                        .img_box {
                            right: 30px;
                            bottom: 30px;
                            width: 75px;
                            height: 75px;

                            .category_icon {
                                font-size: 75px;
                            }
                        }

                        .text_box {
                            p {
                                margin-top: 20px;
                                font-size: 25px;
                                line-height: 35px;
                                letter-spacing: -1.5px;
                            }
                        }
                    }

                    .icon_vs {
                        width: 66px;
                        height: 66px;
                        font-size: 27px;
                        letter-spacing: -1.62px;
                        top: 132px;
                    }

                    .arrow_box {
                        width: 30px;
                        height: 30px;
                        left: 229px;
                        top: 265px;

                        &:after {
                            top: 10px;
                        }

                        &.a {
                            left: 100px;
                        }

                        &.b {
                            left: 358px;
                        }
                    }

                    .btn_voted_reason {
                        width: 174px;
                        height: 40px;
                        border-radius: 30px;
                        margin: 15px auto 0;

                        span {
                            font-size: 18px;
                            letter-spacing: -1.08px;

                            &[class^='ivoryIcon-'] {
                                font-size: 15px;
                                margin-left: 6px;
                            }
                        }
                    }
                }

                .voted_reason {
                    .icon {
                        min-width: 110px;
                        font-size: 18px;
                        line-height: 38px;
                        letter-spacing: -2px;
                        margin-right: 14px;
                    }

                    .text_box {
                        .text {
                            font-size: 20px;
                            line-height: 35px;
                            letter-spacing: -1.2px;
                        }

                        .btn_group {
                            margin-top: 27px;

                            button {
                                font-size: 20px;
                                letter-spacing: -1.2px;

                                &:first-child {
                                    margin-right: 18px;
                                }
                            }
                        }
                    }
                }

                .input_write_reason {
                    margin-top: 0px;
                    top: 360px;
                    border-radius: 30px;

                    .box_header {
                        margin: 25px 25px 0;
                        font-size: 20px;
                        letter-spacing: -1.2px;
                    }

                    .text_input_box {
                        margin: 15px 25px 30px;

                        textarea {
                            height: 70px;
                            padding: 16.5px 30px;
                            border-radius: 30px;
                            font-size: 23px;
                            line-height: 37px;
                            letter-spacing: -1.38px;
                        }

                        .btn_return_reason_text {
                            width: 70px;
                            height: 70px;
                            margin-left: 10px;
                            font-size: 20px;
                            letter-spacing: -1.2px;
                            border-radius: 30px;
                        }
                    }
                }

                .btn_vote {
                    height: 80px;
                    margin-top: 60px;

                    span {
                        font-size: 30px;
                        letter-spacing: -1.8px;
                    }

                    [class^='ivoryIcon-'] {
                        font-size: 29px;
                        right: 32px;
                    }
                }
            }
        }
    }
}
