@import 'variable';

body.result_slide_on {
    .slide_popup_result {
        transform: translateX(0);
        transition: transform 0.3s;
    }

    .back_bg {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 1999;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.slide_popup_result {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    background-color: $color_white;
    height: 100vh;
    width: 100vw;
    transform-origin: right;
    transform: translateX(100%);
    transition: transform 0.3s;
    max-width: $media_base;
}

.vote_result_wrapper {
    &.on_poll .is_vs {
        display: none !important;
    }

    &.on_vs .is_poll {
        display: none !important;
    }

    .header_box {
        position: fixed;
        top: 0;
        left: 0;
        width: cal($e: 640);

        .btn_area {
            height: cal($e: 135);
            background-color: $color_white;
            padding: 0 cal($e: 40);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            .close_popup span {
                font-size: cal($e: 28);
                color: $color_primary;
            }

            .btn_group {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;

                button:not(:last-child) {
                    margin-right: cal($e: 30);
                }

                .btn_heart {
                    .ivoryIcon-heart_outline {
                        display: block;
                    }
                    .ivoryIcon-heart {
                        display: none;
                    }
                    &.clicked {
                        .ivoryIcon-heart_outline {
                            display: none;
                        }
                        .ivoryIcon-heart {
                            display: block;
                            color: $color_red;
                        }
                    }
                }

                [class^='ivoryIcon-'] {
                    font-size: cal($e: 40);
                }
            }
        }

        h2 {
            height: cal($e: 150);
            background-color: $color_black;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color_white;
            font-weight: 700;
            font-size: cal($e: 45);
            letter-spacing: cal($e: -2.7);
        }
    }

    .content_box {
        margin-top: cal($e: 285);
        height: calc(100vh - #{cal($e: 285)});
        overflow: auto;

        .vote_content {
            margin-top: cal($e: 60);

            .category_type {
                padding: 0 cal($e: 40);
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;

                span {
                    color: $color_primary;
                    font-weight: 700;
                    font-size: cal($e: 22);
                    letter-spacing: cal($e: -1.32);

                    &[class^='ivoryIcon-'] {
                        font-weight: normal;
                        font-size: cal($e: 31);
                        margin-right: cal($e: 10);
                    }
                }
            }

            .category_title {
                padding: 0 cal($e: 40);
                margin-top: cal($e: 25);

                .title {
                    font-weight: 700;
                    font-size: cal($e: 30);
                    line-height: cal($e: 45);
                    letter-spacing: cal($e: -1.8);
                }
            }

            .regist_date {
                padding: 0 cal($e: 40);
                margin-top: cal($e: 25);
                display: flex;
                align-items: center;

                span {
                    font-weight: 700;
                    font-size: cal($e: 22);
                    letter-spacing: cal($e: -0.44);

                    &[class^='ivoryIcon-'] {
                        font-weight: normal;
                        font-size: cal($e: 23);
                        color: $color_red;
                        margin-left: cal($e: 5);
                        margin-top: cal($e: -4);
                    }
                }
            }

            .count_box {
                margin: cal($e: 25) cal($e: 40) 0;
                padding-bottom: cal($e: 30);
                border-bottom: 0.5px solid $color_black;
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;

                .count_left {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: center;

                    > div[class^='count_'] {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;

                        &:not(:last-child) {
                            margin-right: cal($e: 25);
                        }

                        span {
                            font-weight: 700;
                            font-size: cal($e: 18);
                            letter-spacing: cal($e: -0.36);

                            &[class^='ivoryIcon-'] {
                                font-weight: normal;
                                margin-right: cal($e: 5);
                            }
                        }
                    }

                    .count {
                        &_vote {
                            [class^='ivoryIcon-'] {
                                color: $color_secondary;
                                font-size: cal($e: 30);
                            }
                        }
                        &_view {
                            [class^='ivoryIcon-'] {
                                color: $color_primary;
                                font-size: cal($e: 35);
                            }
                        }
                        &_heart {
                            [class^='ivoryIcon-'] {
                                color: $color_red;
                                font-size: cal($e: 30);
                            }
                        }
                    }
                }

                .count_right {
                    height: cal($e: 40);
                    border: 0.5px solid $color_black;
                    font-size: cal($e: 20);
                    letter-spacing: cal($e: -1.2);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: cal($e: 30);
                    padding: 0 cal($e: 16);

                    &.end {
                        color: $color_white;
                        border: 0;
                        background-color: $color_red;
                    }
                }
            }

            .vote_img_swipe {
                margin-top: cal($e: 60);
                height: cal($e: 351);

                .swiper {
                    padding-left: cal($e: 40);
                }

                .swiper-slide {
                    width: cal($e: 351);
                    height: cal($e: 351);
                    position: relative;
                    border-radius: cal($e: 30);
                    overflow: hidden;

                    img {
                        @include objectfit;
                    }
                }
            }

            .vote_text_box {
                margin-top: cal($e: 50);
                padding: 0 cal($e: 40);
                font-weight: 300;
                font-size: cal($e: 20);
                line-height: cal($e: 33);
                letter-spacing: cal($e: -1.2);
            }
        }

        .vote_communication {
            padding: cal($e: 60) cal($e: 40) 0;

            .vote_wrapper {
                padding: cal($e: 50) cal($e: 35) cal($e: 25);
                border: 0.5px solid $color_black;
                border-radius: cal($e: 30);

                .medal {
                    transform-origin: bottom;
                    &.on_animation {
                        animation: medal 1s 1s forwards;
                    }
                }
            }

            .total_voter {
                [class^='ivoryIcon-'] {
                    font-size: cal($e: 45);
                    color: $color_black;
                }
                p {
                    margin-top: cal($e: 21);
                    font-weight: 700;
                    font-size: cal($e: 40);
                    letter-spacing: cal($e: -2.4);

                    .total_voter_count {
                        color: $color_secondary;
                    }
                }
            }

            .reason_for_choosing_list {
                margin-top: cal($e: 50);

                li {
                    border-top: 1px solid $color_black;

                    &:nth-child(1) .medal img {
                        margin-left: cal($e: -1);
                    }
                    &:nth-child(2) .medal img {
                        margin-left: calc(-100% - #{cal($e: 2)});
                    }
                    &:nth-child(3) .medal img {
                        margin-left: calc(-200% - #{cal($e: 2)});
                    }

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        .medal {
                            display: block;
                        }
                        .rank_num {
                            display: none !important;
                        }
                    }
                }

                .list_item {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding: cal($e: 35) 0;

                    .medal {
                        display: none;
                    }

                    .ranking {
                        width: cal($e: 40);
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .medal {
                            position: relative;
                            width: cal($e: 40);
                            height: cal($e: 51);
                            overflow: hidden;

                            img {
                                height: 100%;
                                width: auto;
                            }
                        }
                        .my_pick {
                            display: none;
                        }

                        .rank_num {
                            width: cal($e: 40);
                            height: cal($e: 40);
                            background-color: $color_gray;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: 700;
                            font-size: cal($e: 19);
                            letter-spacing: cal($e: -1.14);
                            color: $color_white;
                            border-radius: 50%;
                        }
                    }

                    &.my_pick .ranking .my_pick {
                        width: cal($e: 37);
                        height: cal($e: 37);
                        margin-top: cal($e: 10);
                        border: 2px solid $color_black;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $color_primary;
                        color: $color_white;
                        font-size: cal($e: 22);
                    }

                    .reason_info {
                        margin-left: cal($e: 10);
                        margin-top: cal($e: -5);
                        flex: 1;

                        .title {
                            font-weight: 500;
                            font-size: cal($e: 22);
                            line-height: cal($e: 35);
                            letter-spacing: cal($e: -1.32);
                        }

                        .choice_count_box {
                            display: flex;
                            flex-wrap: nowrap;
                            flex-direction: row;
                            align-items: center;
                            margin-top: cal($e: 20);

                            .progress_box {
                                width: cal($e: 120);
                                height: cal($e: 16);
                            }

                            .percentage {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                align-items: center;
                                margin-left: cal($e: 11);

                                .percent_value {
                                    font-family: gotham;
                                    font-weight: bold;
                                    font-size: cal($e: 20);
                                    letter-spacing: cal($e: -1.2);
                                }

                                .people_count {
                                    margin-left: cal($e: 2);
                                    font-weight: 300;
                                    font-size: cal($e: 17);
                                    letter-spacing: cal($e: -1.02);
                                }
                            }
                        }

                        .show_reasons {
                            margin-top: cal($e: 20);

                            .button {
                                width: cal($e: 206);
                                height: cal($e: 40);
                                border-color: $color_black;
                                color: $color_black;
                                padding: 0;

                                span {
                                    color: inherit;
                                    font-weight: 500;
                                    font-size: cal($e: 18);
                                    letter-spacing: cal($e: -1.08);

                                    &[class^='ivoryIcon-'] {
                                        color: inherit;
                                        font-size: cal($e: 15);
                                    }
                                }
                            }
                        }
                    }

                    .img_box {
                        width: cal($e: 120);
                        height: cal($e: 120);
                        border-radius: cal($e: 30);
                        margin-left: cal($e: 30);
                        overflow: hidden;

                        img {
                            @include objectfit;
                        }
                    }
                }
            }

            .reason_for_chooing_card {
                .vs_card {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin-top: cal($e: 76);

                    .vs_container {
                        width: 50%;
                        position: relative;
                        padding-bottom: cal($e: 35);

                        &:first-child {
                            margin-right: cal($e: 10);
                        }

                        .win_box {
                            display: none;
                        }

                        &.is_win .win_box {
                            display: block;
                            position: absolute;
                            top: cal($e: -40);
                            left: calc(50% - #{cal($e: 85 / 2)});
                            z-index: 2;
                            width: cal($e: 85);
                            height: cal($e: 107);

                            img {
                                @include objectfit;
                            }
                        }

                        .choice_count_box {
                            display: flex;
                            flex-wrap: nowrap;
                            flex-direction: row;
                            align-items: center;
                            margin-top: cal($e: 20);

                            .progress_box {
                                width: cal($e: 120);
                                height: cal($e: 16);
                            }

                            .percentage {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                align-items: center;
                                margin-left: cal($e: 11);

                                .percent_value {
                                    font-family: gotham;
                                    font-weight: bold;
                                    font-size: cal($e: 20);
                                    letter-spacing: cal($e: -1.2);
                                }

                                .people_count {
                                    margin-left: cal($e: 2);
                                    font-weight: 300;
                                    font-size: cal($e: 17);
                                    letter-spacing: cal($e: -1.02);
                                }
                            }
                        }

                        .show_reasons {
                            margin-top: cal($e: 20);

                            .button {
                                width: cal($e: 206);
                                height: cal($e: 40);
                                border-color: $color_black;
                                color: $color_black;
                                padding: 0;

                                span {
                                    color: inherit;
                                    font-weight: 500;
                                    font-size: cal($e: 18);
                                    letter-spacing: cal($e: -1.08);

                                    &[class^='ivoryIcon-'] {
                                        color: inherit;
                                        font-size: cal($e: 15);
                                    }
                                }
                            }
                        }
                    }

                    .vs_a,
                    .vs_b {
                        position: relative;
                        height: cal($e: 330);
                        width: 100%;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border-radius: cal($e: 30);
                        border: 2px solid $color_black;
                        padding: cal($e: 25) cal($e: 30) cal($e: 30);

                        &.vs_a {
                            background-color: $color_vscarda;
                        }
                        &.vs_b {
                            background-color: $color_vscardb;
                        }

                        > .my_pick {
                            display: none;
                        }

                        &.my_pick > .my_pick {
                            display: block;
                            position: absolute;
                            top: cal($e: 20);
                            right: cal($e: 20);
                            width: cal($e: 37);
                            height: cal($e: 37);
                            margin-top: cal($e: 10);
                            border: 2px solid $color_black;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $color_primary;
                            color: $color_white;
                            font-size: cal($e: 22);
                        }

                        .card_title {
                            font-family: gotham;
                            font-weight: bold;
                            font-size: cal($e: 50);
                            letter-spacing: cal($e: -3);
                        }

                        .img_box {
                            position: absolute;
                            right: cal($e: 30);
                            bottom: cal($e: 30);
                            width: cal($e: 75);
                            height: cal($e: 75);

                            &.is_image {
                                border: 1px solid $color_black;
                                overflow: hidden;
                                border-radius: 50%;

                                img {
                                    display: block;
                                }
                                .category_icon {
                                    display: none;
                                }
                            }
                            img {
                                display: none;
                                border-radius: 50%;
                                @include objectfit;
                            }
                            .category_icon {
                                display: block;
                                font-size: cal($e: 75);
                                text-align: center;
                            }
                        }

                        .text_box {
                            flex: 1;

                            p {
                                position: relative;
                                text-align: left;
                                font-weight: 500;
                                margin-top: cal($e: 20);
                                font-size: cal($e: 25);
                                line-height: cal($e: 35);
                                letter-spacing: cal($e: -1.5);
                                @include multi_ellipsis($line: 3);
                            }
                        }
                    }

                    .icon_vs {
                        position: absolute;
                        width: cal($e: 66);
                        height: cal($e: 66);
                        background-color: $color_black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: gotham;
                        font-weight: bold;
                        font-size: cal($e: 27);
                        letter-spacing: cal($e: -1.62);
                        color: $color_white;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .btn_vote_agin {
                position: relative;
                width: 100%;
                height: cal($e: 80);
                margin-top: cal($e: 60);
                padding: 0;
                background-color: $color_primary;
                color: $color_white;

                span {
                    font-size: cal($e: 30);
                    letter-spacing: cal($e: -1.8);
                }

                [class^='ivoryIcon-'] {
                    position: absolute;
                    font-size: cal($e: 20);
                    top: 50%;
                    right: cal($e: 32);
                    transform: translateY(-50%);
                }
            }
        }

        .vote_voter_info {
            padding: cal($e: 80) cal($e: 40) cal($e: 50);

            .voter_header {
                [class^='ivoryIcon-'] {
                    font-size: cal($e: 45);
                }

                p {
                    margin-top: cal($e: 21);
                    font-weight: 700;
                    font-size: cal($e: 40);
                    letter-spacing: cal($e: -2.4);
                }
            }

            .voter_content {
                margin-top: cal($e: 40);

                h4 {
                    position: relative;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    font-weight: 700;
                    font-size: cal($e: 25);
                    letter-spacing: cal($e: -1.5);
                    white-space: nowrap;

                    &:after {
                        content: '';
                        display: inline-block;
                        width: 100%;
                        margin-left: cal($e: 6.5);
                        border-bottom: cal($e: 0.5) solid $color_black;
                    }
                }

                .type_box {
                    $types: (
                        'female': #ff97ba,
                        'male': #80a9d8,
                        'gen_20': #68c0b5,
                        'gen_30': #c2a0e1,
                        'gen_40': #f6c88c,
                        'gen_50': #c9c496,
                    );
                    @each $key, $value in $types {
                        .#{$key} {
                            color: #{$value};
                        }
                    }
                }
            }

            .type_gender .type_box {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                margin-top: cal($e: 60);

                .female {
                    margin-right: cal($e: 40);
                }

                .female,
                .male {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    .percentage {
                        margin-left: cal($e: 13);

                        .percentage_value {
                            font-family: gotham;
                            font-weight: bold;
                            font-size: cal($e: 50);
                            letter-spacing: cal($e: -1);
                        }

                        .type {
                            margin-top: cal($e: 12);
                            font-weight: 700;
                            font-size: cal($e: 22);
                            line-height: cal($e: 22);
                            letter-spacing: cal($e: -1.32);
                            color: $color_gray;
                        }

                        .count {
                            margin-top: cal($e: 5);
                            font-weight: 300;
                            font-size: cal($e: 20);
                            line-height: cal($e: 20);
                            letter-spacing: cal($e: -0.4);
                            color: $color_gray;
                        }

                        .progress_box {
                            width: cal($e: 120);
                            height: cal($e: 16);
                            margin-top: cal($e: 5);

                            .foreground {
                                // min-width: cal($e: 16);
                            }
                        }
                    }
                }

                [class^='ivoryIcon-'] {
                    font-size: cal($e: 132);
                    position: relative;
                    overflow: hidden;
                    height: cal($e: 132);
                    &.ivoryIcon-female {
                        width: cal($e: 74);
                        &:before {
                            left: cal($e: -29.5);
                        }
                    }
                    &.ivoryIcon-male {
                        width: cal($e: 50);
                        &:before {
                            left: cal($e: -41.5);
                        }
                    }

                    &:before {
                        position: relative;
                    }
                }
            }

            .type_generation .type_box {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: cal($e: 50);

                [class^='gen_'] {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: cal($e: 240);

                    &:not(:last-child) {
                        margin-right: cal($e: 27);
                    }
                }

                .progress_box {
                    position: absolute;
                    width: cal($e: 240);
                    height: cal($e: 40);
                    top: 0;
                    left: cal($e: 20);

                    .foreground {
                        // min-width: cal($e: 40);
                    }
                }

                .percentage .percent_value {
                    font-family: gotham;
                    font-weight: bold;
                    font-size: cal($e: 40);
                    line-height: cal($e: 40);
                    letter-spacing: cal($e: -2.4);
                }

                .count {
                    margin-top: cal($e: 10);
                    font-weight: 300;
                    font-size: cal($e: 17);
                    line-height: cal($e: 17);
                    letter-spacing: cal($e: -1.02);
                    color: $color_black;
                    padding-bottom: cal($e: 15);
                    border-bottom: 1px solid $color_black;
                }

                .type {
                    margin-top: cal($e: 15);
                    font-weight: 500;
                    font-size: cal($e: 25);
                    line-height: cal($e: 25);
                    letter-spacing: cal($e: -1.5);
                    color: $color_black;
                }
            }
        }
    }
}

.dummy_vote_container {
    position: fixed;
    padding: cal($e: 60) 0 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color: $color_white;

    .dummy {
        &_title {
            margin: 0 cal($e: 40);
            width: cal($e: 200);
            height: cal($e: 35);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
            margin-bottom: cal($e: 25);
        }
        &_title_content {
            margin: 0 cal($e: 40);
            height: cal($e: 30);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
            &:not(:last-child) {
                margin-bottom: cal($e: 15);
            }
        }
        &_icon_wrapper {
            margin: 0 cal($e: 40);
            margin-top: cal($e: 75);
            margin-bottom: cal($e: 60);
            padding-bottom: cal($e: 30);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &_icon_box {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        &_icon {
            width: cal($e: 80);
            height: cal($e: 40);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
            &:not(:last-child) {
                margin-right: cal($e: 25);
            }
        }
        &_date {
            width: cal($e: 120);
            height: cal($e: 40);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
        }
        &_swipe {
            padding: 0 0 0 cal($e: 40);
            margin-bottom: cal($e: 50);
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: hidden;
        }
        &_swipe_item {
            min-width: cal($e: 351);
            height: cal($e: 351);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
            &:not(:last-child) {
                margin-right: cal($e: 25);
            }
        }
        &_content_text {
            margin: 0 cal($e: 40);
            height: cal($e: 20);
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
            &:not(:last-child) {
                margin-bottom: cal($e: 13);
            }
        }
        &_last_box {
            margin: 0 cal($e: 40);
            height: 100vh;
            border-radius: cal($e: 30);
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

@media (min-width: $media_base) {
    .vote_result_wrapper {
        .header_box {
            width: 640px;

            .btn_area {
                height: 135px;
                padding: 0 40px;

                .close_popup span {
                    font-size: 28px;
                }

                .btn_group {
                    button:not(:last-child) {
                        margin-right: 30px;
                    }

                    [class^='ivoryIcon-'] {
                        font-size: 40px;
                    }
                }
            }

            h2 {
                height: 150px;
                font-size: 45px;
                letter-spacing: -2.7px;
            }
        }

        .content_box {
            margin-top: 285px;
            height: calc(100vh - 285px);

            .vote_content {
                margin-top: 60px;

                .category_type {
                    padding: 0 40px;

                    span {
                        font-size: 22px;
                        letter-spacing: -1.32px;

                        &[class^='ivoryIcon-'] {
                            font-size: 31px;
                            margin-right: 10px;
                        }
                    }
                }

                .category_title {
                    padding: 0 40px;
                    margin-top: 25px;

                    .title {
                        font-size: 30px;
                        line-height: 45px;
                        letter-spacing: -1.8px;
                    }
                }

                .regist_date {
                    padding: 0 40px;
                    margin-top: 25px;

                    span {
                        font-size: 22px;
                        letter-spacing: -0.44px;

                        &[class^='ivoryIcon-'] {
                            font-size: 23px;
                            margin-left: 5px;
                            margin-top: -4px;
                        }
                    }
                }

                .count_box {
                    margin: 25px 40px 0;
                    padding-bottom: 30px;

                    .count_left {
                        > div[class^='count_'] {
                            &:not(:last-child) {
                                margin-right: 25px;
                            }

                            span {
                                font-size: 18px;
                                letter-spacing: -0.36px;
                            }
                        }

                        .count {
                            &_vote {
                                [class^='ivoryIcon-'] {
                                    font-size: 30px;
                                }
                            }
                            &_view {
                                [class^='ivoryIcon-'] {
                                    font-size: 35px;
                                }
                            }
                            &_heart {
                                [class^='ivoryIcon-'] {
                                    font-size: 30px;
                                }
                            }
                        }
                    }

                    .count_right {
                        height: 40px;
                        font-size: 20px;
                        letter-spacing: -1.2px;
                        border-radius: 30px;
                        padding: 0 16px;
                    }
                }

                .vote_img_swipe {
                    margin-top: 60px;
                    height: 351px;

                    .swiper {
                        padding-left: 40px;
                    }

                    .swiper-slide {
                        width: 351px;
                        height: 351px;
                        border-radius: 30px;
                    }
                }

                .vote_text_box {
                    margin-top: 50px;
                    padding: 0 40px;
                    font-size: 20px;
                    line-height: 33px;
                    letter-spacing: -1.2px;
                }
            }

            .vote_communication {
                padding: 60px 40px 0px;

                .vote_wrapper {
                    padding: 50px 35px 25px;
                    border-radius: 30px;
                }

                .total_voter {
                    [class^='ivoryIcon-'] {
                        font-size: 45px;
                    }
                    p {
                        margin-top: 21px;
                        font-size: 40px;
                        letter-spacing: -2.4px;
                    }
                }

                .reason_for_choosing_list {
                    margin-top: 50px;

                    li {
                        &:nth-child(1) .medal img {
                            margin-left: -1px;
                        }
                        &:nth-child(2) .medal img {
                            margin-left: calc(-100% - 2px);
                        }
                        &:nth-child(3) .medal img {
                            margin-left: calc(-200% - 2px);
                        }
                    }

                    .list_item {
                        padding: 35px 0;

                        .ranking {
                            width: 40px;

                            .medal {
                                width: 40px;
                                height: 51px;
                            }

                            .rank_num {
                                width: 40px;
                                height: 40px;
                                font-size: 19px;
                                letter-spacing: -1.14px;
                            }
                        }

                        &.my_pick .ranking .my_pick {
                            width: 37px;
                            height: 37px;
                            margin-top: 10px;
                            font-size: 22px;
                        }

                        .reason_info {
                            margin-left: 10px;
                            margin-top: -5px;

                            .title {
                                font-size: 22px;
                                line-height: 35px;
                                letter-spacing: -1.32px;
                            }

                            .choice_count_box {
                                margin-top: 20px;

                                .progress_box {
                                    width: 120px;
                                    height: 16px;
                                }

                                .percentage {
                                    margin-left: 11px;

                                    .percent_value {
                                        font-size: 20px;
                                        letter-spacing: -1.2px;
                                    }

                                    .people_count {
                                        margin-left: 2px;
                                        font-size: 17px;
                                        letter-spacing: -1.02px;
                                    }
                                }
                            }

                            .show_reasons {
                                margin-top: 20px;

                                .button {
                                    width: 206px;
                                    height: 40px;

                                    span {
                                        font-size: 18px;
                                        letter-spacing: -1.08px;

                                        &[class^='ivoryIcon-'] {
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }

                        .img_box {
                            width: 120px;
                            height: 120px;
                            border-radius: 30px;
                            margin-left: 30px;
                        }
                    }
                }

                .reason_for_chooing_card {
                    .vs_card {
                        margin-top: 76px;

                        .vs_container {
                            padding-bottom: 35px;

                            &:first-child {
                                margin-right: 10px;
                            }

                            &.is_win .win_box {
                                top: -40px;
                                left: calc(50% - calc(85px / 2));
                                width: 85px;
                                height: 107px;
                            }

                            .choice_count_box {
                                margin-top: 20px;

                                .progress_box {
                                    width: 120px;
                                    height: 16px;
                                }

                                .percentage {
                                    margin-left: 11px;

                                    .percent_value {
                                        font-size: 20px;
                                        letter-spacing: -1.2px;
                                    }

                                    .people_count {
                                        margin-left: 2px;
                                        font-size: 17px;
                                        letter-spacing: -1.02px;
                                    }
                                }
                            }

                            .show_reasons {
                                margin-top: 20px;

                                .button {
                                    width: 206px;
                                    height: 40px;

                                    span {
                                        font-size: 18px;
                                        letter-spacing: -1.08px;

                                        &[class^='ivoryIcon-'] {
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }

                        .vs_a,
                        .vs_b {
                            height: 330px;
                            border-radius: 30px;
                            padding: 25px 30px 30px;

                            &.my_pick > .my_pick {
                                top: 20px;
                                right: 20px;
                                width: 37px;
                                height: 37px;
                                margin-top: 10px;
                                font-size: 22px;
                            }

                            .card_title {
                                font-size: 50px;
                                letter-spacing: -3px;
                            }

                            .img_box {
                                right: 30px;
                                bottom: 30px;
                                width: 75px;
                                height: 75px;

                                .category_icon {
                                    font-size: 75px;
                                }
                            }

                            .text_box {
                                p {
                                    margin-top: 20px;
                                    font-size: 25px;
                                    line-height: 35px;
                                    letter-spacing: -1.5px;
                                }
                            }
                        }

                        .icon_vs {
                            width: 66px;
                            height: 66px;
                            font-size: 27px;
                            letter-spacing: -1.62px;
                        }
                    }
                }

                .btn_vote_agin {
                    height: 80px;
                    margin-top: 60px;

                    span {
                        font-size: 30px;
                        letter-spacing: -1.8px;
                    }

                    [class^='ivoryIcon-'] {
                        font-size: 20px;
                        right: 32px;
                    }
                }
            }

            .vote_voter_info {
                padding: 80px 40px 50px;

                .voter_header {
                    [class^='ivoryIcon-'] {
                        font-size: 45px;
                    }

                    p {
                        margin-top: 21px;
                        font-size: 40px;
                        letter-spacing: -2.4px;
                    }
                }

                .voter_content {
                    margin-top: 40px;

                    h4 {
                        font-size: 25px;
                        letter-spacing: -1.5px;

                        &:after {
                            margin-left: 6.5px;
                            border-bottom: 0.5px solid $color_black;
                        }
                    }
                }

                .type_gender .type_box {
                    margin-top: 60px;

                    .female {
                        margin-right: 40px;
                    }

                    .female,
                    .male {
                        .percentage {
                            margin-left: 13px;

                            .percentage_value {
                                font-size: 50px;
                                letter-spacing: -1px;
                            }

                            .type {
                                margin-top: 12px;
                                font-size: 22px;
                                line-height: 22px;
                                letter-spacing: -1.32px;
                            }

                            .count {
                                margin-top: 5px;
                                font-size: 20px;
                                line-height: 20px;
                                letter-spacing: -0.4px;
                            }

                            .progress_box {
                                width: 120px;
                                height: 16px;
                                margin-top: 5px;

                                .foreground {
                                    // min-width: 16px;
                                }
                            }
                        }
                    }

                    [class^='ivoryIcon-'] {
                        font-size: 132px;
                        height: 132px;
                        &.ivoryIcon-female {
                            width: 74px;
                            &:before {
                                left: -29.5px;
                            }
                        }
                        &.ivoryIcon-male {
                            width: 50px;
                            &:before {
                                left: -41.5px;
                            }
                        }
                    }
                }

                .type_generation .type_box {
                    margin-top: 50px;

                    [class^='gen_'] {
                        margin-top: 240px;

                        &:not(:last-child) {
                            margin-right: 27px;
                        }
                    }

                    .progress_box {
                        width: 240px;
                        height: 40px;
                        left: 20px;

                        .foreground {
                            // min-width: 40px;
                        }
                    }

                    .percentage .percent_value {
                        font-size: 40px;
                        line-height: 40px;
                        letter-spacing: -2.4px;
                    }

                    .count {
                        margin-top: 10px;
                        font-size: 17px;
                        line-height: 17px;
                        letter-spacing: -1.02px;
                        padding-bottom: 15px;
                    }

                    .type {
                        margin-top: 15px;
                        font-size: 25px;
                        line-height: 25px;
                        letter-spacing: -1.5px;
                    }
                }
            }
        }
    }

    .dummy_vote_container {
        padding: 60px 0 0;

        .dummy {
            &_title {
                margin: 0 40px;
                width: 200px;
                height: 35px;
                border-radius: 30px;
                margin-bottom: 25px;
            }
            &_title_content {
                margin: 0 40px;
                height: 30px;
                border-radius: 30px;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
            &_icon_wrapper {
                margin: 0 40px;
                margin-top: 75px;
                margin-bottom: 60px;
                padding-bottom: 30px;
            }
            &_icon {
                width: 80px;
                height: 40px;
                border-radius: 30px;
                &:not(:last-child) {
                    margin-right: 25px;
                }
            }
            &_date {
                width: 120px;
                height: 40px;
                border-radius: 30px;
            }
            &_swipe {
                padding: 0 0 0 40px;
                margin-bottom: 50px;
            }
            &_swipe_item {
                min-width: 351px;
                height: 351px;
                border-radius: 30px;
                &:not(:last-child) {
                    margin-right: 25px;
                }
            }
            &_content_text {
                margin: 0 40px;
                height: 20px;
                border-radius: 30px;
                &:not(:last-child) {
                    margin-bottom: 13px;
                }
            }
            &_last_box {
                margin: 0 40px;
                border-radius: 30px;
            }
        }
    }
}
