@font-face { font-family: mgothic; src: url("../fonts/mgothic010.ttf"); font-weight: 100; font-style: normal; }
@font-face { font-family: mgothic; src: url("../fonts/mgothic020.ttf"); font-weight: 200; font-style: normal; }
@font-face { font-family: mgothic; src: url("../fonts/mgothic030.ttf"); font-weight: 300; font-style: normal; }
@font-face { font-family: mgothic; src: url("../fonts/mgothic040.ttf"); font-weight: 400; font-style: normal; }
@font-face { font-family: mgothic; src: url("../fonts/mgothic050.ttf"); font-weight: 500; font-style: normal; }
@font-face { font-family: mgothic; src: url("../fonts/mgothic060.ttf"); font-weight: 600; font-style: normal; }
@font-face { font-family: mgothic; src: url("../fonts/mgothic070.ttf"); font-weight: 700; font-style: normal; }
@font-face { font-family: mgothic; src: url("../fonts/mgothic080.ttf"); font-weight: 800; font-style: normal; }
@font-face { font-family: mgothic; src: url("../fonts/mgothic090.ttf"); font-weight: 900; font-style: normal; }
@font-face { font-family: mgothic; src: url("../fonts/mgothic100.ttf"); font-weight: 1000; font-style: normal; }
@font-face { font-family: gotham; src: url("../fonts/Gotham-Medium.ttf"); font-weight: normal; font-style: normal; }
@font-face { font-family: gotham; src: url("../fonts/Gotham-Bold.ttf"); font-weight: bold; font-style: normal; }
@font-face { font-family: ivoryIcon; src: url("../fonts/ivoryIcon.eot?1eiddz"); src: url("../fonts/ivoryIcon.eot?1eiddz#iefix") format("embedded-opentype"), url("../fonts/ivoryIcon.ttf?1eiddz") format("truetype"), url("../fonts/ivoryIcon.woff?1eiddz") format("woff"), url("../fonts/ivoryIcon.svg?1eiddz#ivoryIcon") format("svg"); font-weight: normal; font-style: normal; font-display: block; }
[class^='ivoryIcon-'], [class*=' ivoryIcon-'] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'ivoryIcon' !important; speak: never; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.ivoryIcon-adult:before { content: '\e900'; }

.ivoryIcon-arrow_down:before { content: '\e901'; }

.ivoryIcon-arrow_left:before { content: '\e902'; }

.ivoryIcon-arrow_right:before { content: '\e903'; }

.ivoryIcon-arrow_up:before { content: '\e904'; }

.ivoryIcon-baby:before { content: '\e905'; }

.ivoryIcon-bell:before { content: '\e906'; }

.ivoryIcon-camera:before { content: '\e907'; }

.ivoryIcon-check:before { content: '\e908'; }

.ivoryIcon-clock:before { content: '\e909'; }

.ivoryIcon-close:before { content: '\e90a'; }

.ivoryIcon-couple:before { content: '\e90b'; }

.ivoryIcon-delete:before { content: '\e90c'; }

.ivoryIcon-education:before { content: '\e90d'; }

.ivoryIcon-fashion:before { content: '\e90e'; }

.ivoryIcon-female:before { content: '\e90f'; }

.ivoryIcon-filter:before { content: '\e910'; }

.ivoryIcon-finance:before { content: '\e911'; }

.ivoryIcon-food:before { content: '\e912'; }

.ivoryIcon-gossip:before { content: '\e913'; }

.ivoryIcon-heart:before { content: '\e914'; }

.ivoryIcon-heart_outline:before { content: '\e915'; }

.ivoryIcon-interior:before { content: '\e916'; }

.ivoryIcon-male:before { content: '\e917'; }

.ivoryIcon-more:before { content: '\e918'; }

.ivoryIcon-movie:before { content: '\e919'; }

.ivoryIcon-multi:before { content: '\e91a'; }

.ivoryIcon-new:before { content: '\e91b'; }

.ivoryIcon-parenting:before { content: '\e91c'; }

.ivoryIcon-pet:before { content: '\e91d'; }

.ivoryIcon-plus:before { content: '\e91e'; }

.ivoryIcon-quotes_bottom:before { content: '\e91f'; }

.ivoryIcon-quotes_top:before { content: '\e920'; }

.ivoryIcon-rectal:before { content: '\e921'; }

.ivoryIcon-reply:before { content: '\e922'; }

.ivoryIcon-report:before { content: '\e923'; }

.ivoryIcon-share:before { content: '\e924'; }

.ivoryIcon-shopping:before { content: '\e925'; }

.ivoryIcon-society:before { content: '\e926'; }

.ivoryIcon-travel:before { content: '\e927'; }

.ivoryIcon-view:before { content: '\e928'; }

.ivoryIcon-vote:before { content: '\e929'; }

.ivoryIcon-wedding:before { content: '\e92a'; }

.ivoryIcon-write:before { content: '\e92b'; }

.ivoryIcon-poll:before { content: '\e92c'; }

.ivoryIcon-vs:before { content: '\e92d'; }

.ivoryIcon-all:before { content: '\e92e'; }

/*# sourceMappingURL=font.css.map */
